/.pnp
.pnp.js
 
# testing
/coverage
 
# next.js
/.next/
/out/
 
# production
/build
 
# misc
.DS_Store
*.pem
 
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
# local env files
.env*.local
.env
 
# vercel
.vercel
 
# typescript
*.tsbuildinfo
next-env.d.ts
Front-end/lissnify/node_modules
Front-end/lissnify/.next
Admin/admin/node_modules
Admin/admin/.next
Admin/admin/.vercel
Admin/admin/.pnp
Admin/admin/.pnp.js
Admin/admin/.turbo
Admin/admin/.DS_Store
Admin/admin/.env.local
Admin/admin/.env

backend/lissnify/admin_api/.venv
backend/lissnify/admin_api/__pycache__
backend/lissnify/admin_api/*.sqlite3
backend/lissnify/admin_api/*.log
backend/lissnify/admin_api/media
backend/lissnify/admin_api/*.pot
backend/lissnify/admin_api/*.pyc
backend/lissnify/admin_api/.mypy_cache
backend/lissnify/api/__pycache__
backend/lissnify/api/*.sqlite3
backend/lissnify/api/migrations
backend/lissnify/chat_api/__pycache__
backend/lissnify/chat_api/*.sqlite3
backend/lissnify/chat_api/migrations/__pycache__
backend/lissnify/lissnify/__pycache__
backend/lissnify/lissnify/*.pyc.
backend/env/
